.info-button > svg {
    fill: white;
    padding-left: 7px;
    transition: all 0.1s ease-in-out;

    pointer-events: none;
}
.info-button {
    text-align: center;
    vertical-align: text-top;
    font-size: 25px;
}

.info-button:hover > svg {
    fill: black;
}

.info-button > input:checked + svg {
    fill: var(--nice-red) !important;
    filter: drop-shadow(4px 4px 8px 0px rgba(0, 0, 0, 0.2));
    transition: all 0.1s ease-in-out;
}
