.button-holder {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: var(--ink-1);
    transition: background-color 0.2s, transform 0.15s;
    /* transition: transform 0.5s; */
}

.add-button:active {
    transform: scale(0.9);
    /* background-color: var(--ink-1) !important; */
}

.add-button:hover {
    background-color: rgb(42, 44, 46);
    border: solid 2px var(--ink-1);
    /* rgb(37, 39, 42); */
}

.add-button i {
    font-size: 30px;

    color: var(--text-color);

    transform: translate(1px, 0px);
}

.full-screen > div {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5rem;
    max-width: 90%;
    border-radius: 80px;
    border: solid 4px var(--ink-1);
    background-color: var(--background);
}

.modes-wrapper {
    transform: none !important;

    min-width: 100% !important;
}

.list {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    max-width: 100% !important;
}

.cross-holder {
    position: absolute;
    top: 120px;
    right: 9%;
}

.cross-holder button {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    border-radius: 100%;
}

.cross-holder button:hover {
    background-color: var(--ink-2-grey);
    border: none;
    transition: all 0.1s;
}

.cross-holder button:active {
    transform: scale(0.9);
    transition: all 0.1s;
}

.cross-holder button i {
    position: inherit;
    color: var(--text-color);
    font-size: 2.5rem;
}

#brightness-holder {
    width: 100%;
}
#mode-holder {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    padding-bottom: 10px;
}

#settings-holder {
    min-width: 100%;
}

.full-screen {
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
}
.full-screen > div {
    transition: all 0.2s ease-in-out;
    display: block;
}

.full-screen:not(.active) {
    opacity: 0;
    pointer-events: none;
}
.full-screen:not(.active) > div {
    transform: translateY(60vh);
}

.list.time-events > div {
    grid-template-columns: 3fr 0.2fr 0.2fr 0.5fr !important;
    align-items: center;
}
.list.time-events > div > button {
    justify-self: center;
    background-color: transparent;
    margin-right: 1rem;
    border: none;
    width: 1.75rem;
    min-height: 1.75rem;
    padding-top: 3px;
    border-radius: 100%;

    transition: all 0.1s ease-in-out;
}

.list.time-events > div > .edit-button {
    grid-column: 2;
    color: var(--text-color);

    transition: all 0.1s ease-in-out;
}
.list.time-events > div > .trash-button {
    grid-column: 3;
    grid-row: 1;
    color: rgb(199, 6, 6);
    background-color: rgba(139, 0, 0, 0.188);

    transition: all 0.1s ease-in-out;
}
.list.time-events > div > .trash-button:hover {
    background-color: rgba(188, 3, 3, 0.666) !important;

    transition: all 0.1s ease-in-out;
}
.list.time-events > div > button > i {
    font-size: 20px;
}

.list.time-events > div > button:hover {
    color: var(--ink-0) !important;
    background-color: var(--ink-5);
}

.list.time-events > div > .info-button {
    grid-column: 4 !important;
}

.list.time-events > div > label:first-child {
    font-size: 27px;
}

.list.time-events > div > .info-button + label {
    grid-column: 1/5 !important;
}

@media screen and (max-width: 500px) {
    .list > div > input,
    select {
        max-width: 22.5vw !important;
    }

    .list > div {
        grid-template-columns: 1fr 2fr 2fr !important;
        column-gap: 7px !important;
        overflow-x: hidden !important;
        padding-right: 5px !important;
        padding-left: 10px !important;
    }
    .list > div > label:first-child {
        margin-left: 30px !important;
    }

    .full-screen > div {
        margin-right: 2.5vw !important;
        margin-left: 2.5vw !important;
        min-width: 95% !important;
    }

    .list {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        max-width: 100% !important;
    }
}
